
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Note Form</title>
        <link rel="stylesheet" href="{% static 'css/lab4_form.css' %}" type="text/css">
    </head>
    <body>
        <nav>
            <a href="{% url 'lab_4:index' %}">HOME</a>
            <a href="/lab-4/add-note">FORM</a>
            <a href="/lab-4/note-list">CARD</a>
        </nav>
        <h1>NOTE FORM</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input class="submit" type="submit" value="SUBMIT">
        </form>
    </body>
</html>