<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Note</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/lab4_index.css' %}">
    </head>
    <body>
        <nav>
            <a href="/lab-4">HOME</a>
            <a href="/lab-4/add-note">FORM</a>
            <a href="/lab-4/note-list">CARD</a>
        </nav>
        <h1>NOTE</h1>
        <table>
            <tr>
                <th>to</th>
                <th>from</th>
                <th>title</th>
                <th>message</th>
            </tr>
            {% if notes %} 
                {% for note in notes %}
                    <tr>
                        <td>{{note.to}}</td>
                        <td>{{note.From}}</td>
                        <td>{{note.title}}</td>
                        <td class="message">{{note.message}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </body>
</html>