<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Note Card</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/lab4_note_list.css' %}">
    </head>
    <body>
        <nav>
            <a href="/lab-4">HOME</a>
            <a href="/lab-4/add-note">FORM</a>
            <a href="/lab-4/note-list">CARD</a>
        </nav>
        <h1 class="main">NOTE CARD</h1>
        {% for note in notes %}
        <div class="note">
            <h2 class="title">{{note.title}}</h2>
            <p class="to">Dear {{note.to}},</p>
            <p class="message">{{note.message}}</p>
            <p class="From">Regards,</p>
            <p class="From">{{note.From}}</p>
        </div>
        {% endfor %}
    </body>
</html>