<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Note</title>
        <style>
            table, td, th {
              border: 1px solid black;
            }
            
            table {
              border-collapse: collapse;
              width: 500px;
            }
            
            td {
              text-align: center;
            }
            </style>
    </head>
    <body>
        <table>
            <tr>
                <th>to</th>
                <th>from</th>
                <th>title</th>
                <th>message</th>
            </tr>
            {% if notes %} 
                {% for note in notes %}
                    <tr>
                        <td>{{note.to}}</td>
                        <td>{{note.From}}</td>
                        <td>{{note.title}}</td>
                        <td>{{note.message}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </body>
</html>