@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
body {
    background: url(https://images.pexels.com/photos/982673/pexels-photo-982673.jpeg?cs=srgb&dl=pexels-kevin-menajang-982673.jpg&fm=jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
nav {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background: #ecc968;
    z-index: 1;
}
a {
    width: 100px;
    text-decoration: none;
    padding: 15px 0px 15px 50px;
    margin-right: 0px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    
}
a:hover {
    background: rgb(250, 238, 200);
    color: #ecc968;
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
}
.main {
    animation: UpNDown 3s infinite ;
    margin-top: 70px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #d8a929;
    font-weight: 100px;
}
@keyframes UpNDown {
    50% {
        transform: translateY(10px);
    }
}
.note {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 40%;
    background: #dfcd9d;
    font-family: 'Quicksand', sans-serif;
    padding: 25px;
    opacity: 0.9;
    box-shadow: 5px 5px 10px  #ecc968; 
}
.From {
    text-align: right;
}
p {
    font-weight: bold;
}
.title {
    text-align: center;
}
.message {
    margin-left: 20px;
}